# Python bytecode (Các file sinh ra khi chạy code Python)
__pycache__/
*.py[cod]
*$py.class

# Môi trường ảo (Tuyệt đối không push vì thư mục này cực kỳ nặng)
.venv/
venv/
ENV/

# File biến môi trường (chứa password, API key, thông tin database)
.env
.env.*

# File cấu hình riêng tư của PyCharm và VS Code
.idea/
.vscode/

# File nhật ký và hệ thống rác
*.log
.DS_Store