# Python bytecode (Các file sinh ra khi chạy code Python)
__pycache__/
*.py[cod]
*$py.class

# Môi trường ảo (Tuyệt đối không push vì thư mục này cực kỳ nặng)
../.venv/
venv/
ENV/

# File cấu hình riêng tư của PyCharm
.idea/

# File nhật ký và hệ thống rác
*.log
.DS_Store